{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<div class="container mt-5">
  <h1>프로필 업데이트</h1>
  <form action="" method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}
    <div class="d-flex">
      {% bootstrap_button button_type="submit" content="OK" %}
      <a class="btn btn-outline-primary mx-3" href="{%  url 'accounts:password' %}">비밀번호 변경</a>
      <a class="btn btn-outline-danger float-right" href="{% url 'accounts:delete' %}">회원 탈퇴</a>
    </div>
  </form>
</div>
{% endblock content %}